body{
    background-color: #f790b2;
    display: flex;
}

.v-slider {
    margin-left: 20px;
  width: 200px;
  height: 700px;
  overflow: hidden;
  z-index: 1;
    box-shadow: 30px 0px 60px rgb(196, 196, 196);

}

.track {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease;
  z-index: 1;
  


}

.track img {
  width: 200px;
  z-index: 1;

}

.a{
display: flex;}

.kvietok{
z-index: -1;
    background-color: rgba(245, 245, 220, 0.062);
    width: 190px;
    height: 100%;
    position: absolute;
    left: 10px;
}
#kvet{
    width: 190px;
    margin-top: 50vh;
}
.boxx{
  margin-left: 30vw;
}
h1{
  color: #733D26;
}
#gif{
  border: #733D26 5px solid;
}